body{
    height: 100%;
    margin: 0;
}

/* CSS For Menu Bar */

.menu_bar{
    box-shadow: 5px 5px 5px rgb(134, 134, 134);
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 0%;
    background-color: white;
    z-index: 1;
}

.menu_bar ul {
    list-style-type: none;
    padding: 10px;
}

.menu_bar li{
    display: inline;
}

.menu_bar li a{
    display: inline;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
    color: black;
    padding: 20px;
}

.menu_bar a:hover {
    color: #0179c9;
}

.menu_bar a.active {
    border-bottom: 3px solid #0179c9;
}

.menu_bar label{
   padding-right: 500px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
   font-weight: bold;
   color: #0179c9;
}

.menu_bar li img{
    width: 50px;
    height: 50px;
    display: inline;
    
} 

/* Introduction */
.intro img{
	width:70%;
	height: 10%;
	padding: 1%;
}

.intro p{
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight:bolder;
	font-size: 150%;

}

/* Animation part for Welcome message */

@keyframes scale {
    100% {
      transform: scale(2);
    }
  }
  
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 1s 0.1s forwards cubic-bezier(0.11, 0, 0.7, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 1s 0.2s forwards cubic-bezier(0.11, 0, 0.7, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 1s 0.3s forwards cubic-bezier(0.11, 0, 0.7, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 1s 0.4s forwards cubic-bezier(0.11, 0, 0.7, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 1s 0.5s forwards cubic-bezier(0.11, 0, 0.7, 0);
  }
  
  span:nth-child(6) {
    animation: fade-in 1s 0.6s forwards cubic-bezier(0.11, 0, 0.7, 0);
  }
  
  span:nth-child(7) {
    animation: fade-in 1s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
}


/* gallery */
.gal2{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}
.gal2-1{
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

.gal2-2{
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

.gal2-3{
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

.gallery2{
  margin: 5px;
  border: 1px solid #ccc;
  width: 30%;
  float: left;
}

.gallery2:hover {
  border: 1px solid rgb(1, 107, 189);
}

.gallery2 img {
  width: 100%;
  height: auto;
}

.desc2 {
  padding: 15px;
  text-align: center;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: bolder;
}

/* CSS for Footer */

.footer{
    line-height: 1.5;
    font-family: 'Be Vietnam Pro', sans-serif;
	  margin-top: 5%;
}

.container2{
	max-width: 	1170px;
	margin-left: 200px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #0179c9;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color:#0179c9;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: rgb(53, 53, 53);
	background-color:#0179c9;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}

@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.footer-col ul{
    font-size: larger;
    color: #d4d4d4;
}

.footer-col ul li{
    margin-bottom: 10px;
}

.footer-col ul{
    text-transform: capitalize;
}