body{
    height: 100%;
    margin: 0;
}

/* CSS For Menu Bar */

.menu_bar{
    box-shadow: 5px 5px 5px rgb(134, 134, 134);
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 0%;
    background-color: white;
    z-index: 1;
}

.menu_bar ul {
    list-style-type: none;
    padding: 10px;
}

.menu_bar li{
    display: inline;
}

.menu_bar li a{
    display: inline;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
    color: black;
    padding: 20px;
}

.menu_bar a:hover {
    color: #0179c9;
}

.menu_bar a.active {
    border-bottom: 3px solid #0179c9;
}

.menu_bar label{
   padding-right: 500px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
   font-weight: bold;
   color: #0179c9;
}

.menu_bar li img{
    width: 50px;
    height: 50px;
    display: inline;
    
} 


/* Form & Container */
.container{
    padding-top: 5%;
    width: 80;
    margin: 50px;
	font-family: 'Be Vietnam Pro', sans-serif;
}

.contact-box{
    background: #ffffff;
    display: flex;
   
}

.contact-left{
    flex-basis: 60%;
    padding: 40px;
    
}

.contact-right{
    flex-basis: 40%;
    padding: 60px;
    background: #0179c9;
    color: #ffffff;
    margin-bottom: 95px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #049fdd;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #049fdd;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

button{
    background:  #0179c9;
    border: none;
    width: 100px;
    height: 30px;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 30px;

}

.contact-left h3{
    color:  #0089be;
    font-size: larger;
    margin-bottom: 30px;
}

.contact-right h3{
    font-weight: 600px;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}

.container h1{
    color: #1c5475;
    margin-left: 30px;
}



/* CSS for Footer */

.footer{
    line-height: 1.5;
    font-family: 'Be Vietnam Pro', sans-serif;
	margin-top: 5%;
}

.container2{
	max-width: 	1170px;
	margin-left: 200px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #0179c9;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color:#0179c9;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: rgb(53, 53, 53);
	background-color:#0179c9;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}

@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.footer-col ul{
    font-size: larger;
    color: #d4d4d4;
}

.footer-col ul li{
    margin-bottom: 10px;
}

.footer-col ul{
    text-transform: capitalize;
}